{% extends 'main.page.html' %}
{%load static%}
<header>

</header>

<body>

{% block content %}

{% for post in posts%}

<div class="card" style="width: 18rem;">
    <a style="margin-top: 10px; margin-bottom: 5px" class = "btn btn-primary" href="{{post.id}}">Перейти в пост</a>
    {%if profile.logo%}
  <img src="{{post.image.url}}" class="" alt="...">
    {%else%}
    <img src="{% static 'default_image.jpg' %}" class="card-img-top" alt="...">
    {%endif%}
  <div class="card-body">
    <p class="card-text">{{post.content}}</p>
  </div>
</div>

{% endfor %}

{% endblock %}

</body>

<footer>
    <p>Footer</p>
</footer>
